<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />



    <style>
        /* all css gose here */
.logoImage{
    width: 250px;
    height: 100px;
}
.fleftstyle h3{
    font-size: 35px;
    font-weight: 700;
}
.fleftstyle p{
font-size: 28px
}

/* second section */
.secondlefts p{
    font-size: 25px;
}
.secondlefts h2{
    font-size: 28px;
    font-weight: bold;
}
.secondrights p{
    font-size: 25px;
}
.secondrights h2{
    font-size: 28px;
    font-weight: bold;
}

/* thard section  */

.thardstyle p{
    font-size: 25px;
}

td{
    font-size: 25px;
    text-align: center;
}

/* six section */

.sixsections p{
    font-size: 25px; 
}





        /* all css gose here */
  
    </style>


</head>
<body>


 <!-- start invoince main -->

   <div class="container">
    <div style="width: 100%;  height: 40px; background-color: #07578C;">

    </div>
                <div class="my2" >
                  <div class="p-5">
                    <section class="d-block overflow-hidden border border-5 border-danger" >
                        <div class="fastsection">
                            <div class="logo float-start">
                                <img
                                  src="https://i.ibb.co/GkDmxyC/trans23jpg.jpg"
                                  alt=""
                                  class="logoImage"
                                />
                              </div>



                              <div class="float-end fleftstyle " >
                               
                                  <h3 class="">invoice</h3>
                             
                             
                                  <p >
                                    invoice No. <span>XXXX</span>
                                  </p>
                              
                              </div>
                        </div>
             
                 
                    </section>

                    <section class="d-block overflow-hidden border border-5 border-danger mt-5">
                  
                        <div class="col-7 float-start secondlefts">
                            <p>PICUP ADDRESS</p>
                            <hr style="width: 80%; height: 20px; color: gray;">
                            <h2>Mumbai</h2>
                            <p >
                              Address : Z-20 Sector 12, <br />
                              Floor : Fifth Floor, <br />
                              Phone : +918765435432 <br /> With Service Lift
                            </p>
                      
                                <p class="mt-2">    Parking: Hill Road, Bandra West </p>
                           
                        
                          </div>
                          <div class="col-5 float-end secondrights ">
                            <p>DROP ADDRESS</p>
                            <hr style="width: 800%; height: 20px; color: gray;">
                            <h2>Delhi</h2>
                            <p class="address">
                              Address : N 69, Connaught Place, <br />
                              Floor : Seventh Floor, <br />
                              Phone : +918765435432 <br /> No Service Lift
                            </p>
                            <P class="txn mt-2">
                              Parking: Hill Road, Bandra West
                            </P>
                          </div>
                    

                    </section>

                    <section class="d-block overflow-hidden border border-5 border-danger mt-5">

                    
                          <div class="col-7 float-start thardstyle">
                            <p>
                                <span class="fw-bold"> Home Size:</span>  3 BHK
                            </p>
                            <p>With AC Install</p>
                            <p class="mt-2">
                                <span class="fw-bold"> Inspection Date:</span>  12-12-2022
                            </p>
                            <p>
                                <span class="fw-bold"> Inspection Time:</span>  10 AM
                            </p>
                          </div>

                          <div class="col-5 float-end thardstyle">
                            <p>
                                <span class="fw-bold"> PicUP Date:</span> 10-04.2021
                            </p>
                            <p>
                                <span class="fw-bold"> PicUP Time:</span>  03 PM
                            </p>
                            <p class="mt-2">With Bubblewrap</p>
                            <p>With carpentry</p>
                          </div>
                
                   
                    </section>

                    <section class="d-block overflow-hidden border border-5 border-danger mt-5 mt-4">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <td style="background-color: #07578C; color: #fff;" class="fw-bold">Applience</td>
                            <td  style="background-color: #07578C; color: #fff;" class="fw-bold">Quantity</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                 Refrigerator 
                            </td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>
                                TV
                            </td>
                            <td>2</td>
                          </tr>
                          <tr>
                            <td>AC
                            </td>

                            <td>2</td>
                          </tr>
                          <tr>
                            <td>
                           
                                Desk
                            </td>
                            <td>2</td>
                          </tr>
                          <tr>
                            <td>Computer
                            </td>
                            <td>2</td>
                          </tr>
                        </tbody>
                      </table>

                      
                    </section>

                    <section class="d-block overflow-hidden border border-5 border-danger mt-5">
                   
                        <div style="width: 70%;"  class="col-md-8 sixsections float-start" >
                          <p class="m-0 fw-bold"> Note: </p>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. In delectus, adipisci vero est dolore
                            praesentium.
                          </p>
                        </div>
                        <div style="width: 30%;" class="col-md-4 float-end">
                          <table class="table border-0 table-hover">
                            <tr>
                              <td style=" border-bottom: none;" class="fw-bold">Sub Total:</td>
                              <td style=" border-bottom: none;">800$</td>
                            </tr>
                            <tr>
                              <td style=" border-bottom: none; " class="fw-bold">Tax:</td>
                              <td style=" border-bottom: none;">15$</td>
                            </tr>
                            <tr>
                              <td  class="fw-bold">Deliver:</td>
                              <td >10$</td>
                            </tr>
                            <tfoot>
                              <tr>
                                <td style=" border-bottom: none;" class="fw-bold">Total:</td>
                                <td style=" border-bottom: none;">825$</td>
                              </tr>
                            </tfoot>
                          </table>

                 
                          <!-- <div class="col-12">
                            <img
                              src="https://i.ibb.co/FhnbhSz/signature.png"
                              class="img-fluid"
                              alt=""
                            />
                            <p class="text-center m-0">
                    
                              Manager Signature
                            </p>
                          </div> -->


                        </div>
               
                    </section>

          
<!-- 
                    <footer>
      
                      <p class="m-0 ">
                        View THis History Online At -
                        <a href="#!"> invoice/trans23.net/#868 </a>
                      </p>
                      <div class="social pt-3">
                        <span class="pe-2">
                          <i class="me-2 fas fa-mobile-alt"></i>
                          <span>+91876786765</span>
                        </span>
                        <span class="pe-2">
                          <i class="me-2 fas fa-envelope"></i>
                          <span>info@trans23.net</span>
                        </span>
                        <span class="pe-2">
                          <i class="me-2 fab fa-facebook-f"></i>
                          <span>/trans23</span>
                        </span>
                        <span class="pe-2">
                          <i class="me-2 fab fa-youtube"></i>
                          <span>/trans23</span>
                        </span>
                        <span class="pe-2">
                          <i class="me-2 fab fa-twitter"></i>
                          <span>/trans23</span>
                        </span>
                      </div>
                    </footer> -->
                  </div>
                </div>
                <!-- <div style="width: 100%;  height: 40px; background-color: #07578C;"> -->
              </div>

 <!-- start invoince main -->










 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>